{% comment %}
    Renders a product card

    Accepts:
    - card_product: {Object} Product Liquid object (optional)
    - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
    - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
    - show_vendor: {Boolean} Show the product vendor. Default: false
    - show_rating: {Boolean} Show the product rating. Default: false
    - extend_height: {Boolean} Card height extends to available container space. Default: true (optional)
    - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)

    Usage:
    {% render 'card-product', show_vendor: section.settings.show_vendor %}
{% endcomment %}
{{ 'component-rating.css' | asset_url | stylesheet_tag }}
{%- if card_product and card_product != empty -%}

  <div class="card">
    <div class="card__media">
      {% if card_product.metafields.meta.organic %}
        <svg class="organic" width="48" height="44" viewBox="0 0 48 44" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M46.7073 22.5872C45.9569 22.6456 44.7521 21.6632 43.5873 20.7136C42.9241 20.172 42.1921 19.5793 41.4041 19.0601C43.2057 18.4857 44.7121 17.4537 45.8289 15.8585C48.9202 11.4473 48.1506 4.51688 46.9386 1.18406C46.7921 0.785626 46.4425 0.492844 46.0162 0.415219L45.8137 0.398438C45.4601 0.398438 45.1273 0.550406 44.8993 0.815251C44.1225 1.72247 41.9721 2.10169 39.8857 2.46966C36.6209 3.04726 32.4466 3.82566 30.4177 7.1417C29.1521 4.84492 26.9385 3.01285 24.9825 2.10085C24.596 1.92 24.1433 1.95928 23.792 2.20088C23.4472 2.44247 23.2456 2.85291 23.2792 3.28088C23.3376 4.03126 22.3552 5.23529 21.4056 6.40089C19.3976 8.8593 16.6496 12.2281 19.7808 16.1433C20.7936 17.4081 22.0248 18.1681 23.3648 18.4345C23.4696 18.8081 23.6312 19.1977 23.8288 19.5976H12C5.37282 19.5984 0 24.9712 0 31.5984C0 38.2256 5.37282 43.5984 12 43.5984H26.4001C33.0273 43.5984 38.4001 38.2256 38.4001 31.5984C38.4001 31.288 38.3321 30.9968 38.3089 30.6928C39.044 30.78 39.7233 30.756 40.2945 30.6552C43.7577 30.0448 46.6577 26.9288 47.8873 24.2904C48.0682 23.904 48.0289 23.4512 47.7873 23.1C47.5449 22.7552 47.1353 22.5537 46.7073 22.5872ZM31.6465 10.8496C32.1529 6.27442 36.1097 5.57598 40.3025 4.83517C42.093 4.51838 43.8018 4.21838 45.1377 3.55997C45.9449 7.00079 45.8793 11.604 43.8641 14.4816C42.6033 16.2816 40.6753 17.196 38.1321 17.196C36.3201 17.196 34.7137 16.6432 33.5257 15.6232C34.4314 14.9392 35.4625 14.3784 36.5986 13.9592L36.8514 13.8608C38.9195 13.1392 40.8531 13.1576 41.0043 13.1928L41.2619 13.2208C41.8267 13.2208 42.3083 12.8368 42.4339 12.2832C42.5523 11.7489 42.2931 11.2168 41.833 10.9664C42.9594 9.94961 43.8499 8.76799 44.493 7.43683C44.6314 7.14883 44.6498 6.82239 44.5442 6.52004C44.4386 6.21761 44.221 5.97367 43.9322 5.83604C43.3594 5.56407 42.6081 5.82161 42.3306 6.39367C41.3746 8.37452 39.7786 9.89046 37.4746 10.9992C37.6161 9.99846 37.4601 9.0048 37.0082 8.10002C36.7226 7.52317 35.9594 7.28645 35.4018 7.56086C35.1138 7.70401 34.8993 7.94964 34.797 8.25442C34.6938 8.56164 34.7186 8.88724 34.8618 9.17121C35.5834 10.6176 34.6722 11.9368 34.3193 12.3656C33.5298 12.7592 32.7858 13.2185 32.0977 13.7368C31.6889 12.8464 31.5329 11.864 31.6465 10.8496ZM31.7856 17.2864C32.4968 17.9336 33.3336 18.4264 34.2361 18.8072C34.1057 18.8992 33.9761 18.9816 33.8448 19.0873C33.0897 19.6936 32.5384 20.3849 32.1433 21.1232C31.5033 20.7712 30.8344 20.4809 30.1297 20.2488C30.1329 20.2393 30.1433 20.2352 30.1465 20.2257C30.5145 19.152 31.0649 18.1656 31.7856 17.2864ZM30.26 15.4056C29.1904 16.5936 28.3896 17.9512 27.8752 19.4489C27.8416 19.5464 27.8448 19.6449 27.8376 19.7441C27.4552 19.6969 27.0768 19.6369 26.684 19.6273C26.3256 19.1561 26.0448 18.7177 25.8696 18.3145C26.9408 18.0025 27.9832 17.3945 28.94 16.4377C29.4056 15.9721 29.7689 15.5073 30.0864 15.0465C30.1481 15.1648 30.1921 15.2904 30.26 15.4056ZM23.6376 13.9696C23.4696 14.5968 23.3104 15.2337 23.2185 15.8944C22.6617 15.6464 22.1305 15.2384 21.6553 14.644C19.8641 12.4047 21.0689 10.6104 23.2649 7.91673C24.0593 6.94314 24.828 6.00235 25.2777 5.02876C27.0152 6.22079 28.6321 8.11117 28.9849 10.112C29.2713 11.7408 28.6858 13.2984 27.2441 14.74C26.7233 15.2607 26.1856 15.6343 25.6481 15.872C25.7249 15.4712 25.8337 15.052 25.9576 14.5887C26.3217 13.2239 26.7336 11.6775 26.4904 9.61436C26.4128 8.9568 25.816 8.48552 25.1576 8.56398C24.5008 8.6448 24.0296 9.24077 24.1072 9.89683C24.2969 11.5032 23.9616 12.7568 23.6376 13.9696ZM26.4001 41.1984H12C6.70642 41.1984 2.4 36.892 2.4 31.5984C2.4 26.3048 6.70642 21.9984 12 21.9984H26.4001C31.6937 21.9984 36.0001 26.3048 36.0001 31.5984C36.0001 36.892 31.6937 41.1984 26.4001 41.1984ZM39.8769 28.292C39.1825 28.4145 38.5033 28.36 37.8394 28.1584C37.5658 27.2496 37.1986 26.3896 36.729 25.5856C37.7738 25.812 38.945 25.9656 40.3745 25.7969C41.033 25.7192 41.5034 25.1224 41.4249 24.464C41.3441 23.8072 40.7481 23.336 40.0921 23.4136C38.4857 23.6032 37.2313 23.268 36.0193 22.944C35.4265 22.7856 34.8217 22.6425 34.2009 22.5496C34.1745 22.5272 34.1473 22.5057 34.1201 22.4833C34.3697 21.9433 34.7649 21.4257 35.3441 20.9633C37.5833 19.1721 39.3777 20.3769 42.0713 22.5721C43.0449 23.3666 43.9857 24.1353 44.9593 24.585C43.7673 26.3224 41.8776 27.9392 39.8769 28.292Z" fill="#6B705C"/>
        </svg>
      {% endif %}
      {% if card_product.featured_media %}
        <a href="{{ card_product.url }}">
          <img srcset="{%- if card_product.featured_media.width >= 165 -%}{{ card_product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
          {%- if card_product.featured_media.width >= 360 -%}{{ card_product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
          {%- if card_product.featured_media.width >= 533 -%}{{ card_product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
          {%- if card_product.featured_media.width >= 720 -%}{{ card_product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
          {%- if card_product.featured_media.width >= 940 -%}{{ card_product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
          {%- if card_product.featured_media.width >= 1066 -%}{{ card_product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
          {{ card_product.featured_media | image_url }} {{ card_product.featured_media.width }}w"
          src="{{ card_product.featured_media | image_url: width: 533 }}"
          sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
          alt="{{ card_product.featured_media.alt | escape }}"
          class="motion-reduce"
          {% unless lazy_load == false %}loading="lazy"{% endunless %}
          width="{{ card_product.featured_media.width }}"
          height="{{ card_product.featured_media.height }}"
        >
        {%- if card_product.media[1] != nil and show_secondary_image -%}
        <img
          srcset="{%- if card_product.media[1].width >= 165 -%}{{ card_product.media[1] | image_url: width: 165 }} 165w,{%- endif -%}
            {%- if card_product.media[1].width >= 360 -%}{{ card_product.media[1] | image_url: width: 360 }} 360w,{%- endif -%}
            {%- if card_product.media[1].width >= 533 -%}{{ card_product.media[1] | image_url: width: 533 }} 533w,{%- endif -%}
            {%- if card_product.media[1].width >= 720 -%}{{ card_product.media[1] | image_url: width: 720 }} 720w,{%- endif -%}
            {%- if card_product.media[1].width >= 940 -%}{{ card_product.media[1] | image_url: width: 940 }} 940w,{%- endif -%}
            {%- if card_product.media[1].width >= 1066 -%}{{ card_product.media[1] | image_url: width: 1066 }} 1066w,{%- endif -%}
            {{ card_product.media[1] | image_url }} {{ card_product.media[1].width }}w"
          src="{{ card_product.media[1] | image_url: width: 533 }}"
          sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
          alt="{{ card_product.media[1].alt | escape }}"
          class="motion-reduce"
          loading="lazy"
          width="{{ card_product.media[1].width }}"
          height="{{ card_product.media[1].height }}"
        >
        {%- endif -%}
      </a>
    {%-endif %}
    </div>
      <div class="card__content">
        {%- if show_vendor -%}
          <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
          <span class="caption-with-letter-spacing light">
            <a href="/collections/all?filter.p.vendor={{ card_product.vendor | url_encode }}&sort_by=title-ascending" class="caption-with-letter-spacing light full-unstyled-link">
              {{ card_product.vendor }}
            </a>
          </span>
        {%- endif -%}
        <h3 class="card__heading{% if card_product.featured_media or settings.card_style == 'standard' %} h5{% endif %}">
          <a href="{{ card_product.url }}" class="full-unstyled-link">
            {{ card_product.title }}
          </a>
        </h3>
        <span class="caption-large light">{{ block.settings.description | escape }}</span>
        {%- if show_rating and card_product.metafields.reviews.rating.value != blank -%}
          {% liquid
            assign rating_decimal = 0
            assign decimal = card_product.metafields.reviews.rating.value.rating | modulo: 1
            if decimal >= 0.3 and decimal <= 0.7
              assign rating_decimal = 0.5
            elsif decimal > 0.7
              assign rating_decimal = 1
            endif
          %}
          <div class="rating" role="img" aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: card_product.metafields.reviews.rating.value, rating_max: card_product.metafields.reviews.rating.value.scale_max }}">
            <span aria-hidden="true" class="rating-star color-icon-{{ settings.accent_icons }}" style="--rating: {{ card_product.metafields.reviews.rating.value.rating | floor }}; --rating-max: {{ card_product.metafields.reviews.rating.value.scale_max }}; --rating-decimal: {{ rating_decimal }};"></span>
          </div>
          <p class="rating-text caption">
            <span aria-hidden="true">{{ card_product.metafields.reviews.rating.value }} / {{ card_product.metafields.reviews.rating.value.scale_max }}</span>
          </p>
          <p class="rating-count caption">
            <span aria-hidden="true">({{ card_product.metafields.reviews.rating_count }})</span>
            <span class="visually-hidden">{{ card_product.metafields.reviews.rating_count }} {{ "accessibility.total_reviews" | t }}</span>
          </p>
        {%- endif -%}
        {% render 'price', product: card_product, price_class: '' %}
        <div class="card__origin">
          {% render 'country', product: card_product %}
          {% render 'grape-sort', product: card_product %}
        </div>
        {% render 'buy-button', product: card_product %}
      </div>
  </div>

{%- else -%}
<div class="card-wrapper underline-links-hover">
  <div class="card
    card--{{ settings.card_style }}
    card--text
    {% if extend_height %} card--extend-height{% endif %}
    {% if settings.card_style == 'card' %} color-{{ settings.card_color_scheme }}{% endif %}
    {% if card_product.featured_media == nil and settings.card_style == 'card' %} ratio{% endif %}"
    style="--ratio-percent: 100%;"
  >
    <div class="card__inner {% if settings.card_style == 'standard' %}color-{{ settings.card_color_scheme }}{% endif %}{% if settings.card_style == 'standard' %} ratio{% endif %}" style="--ratio-percent: 100%;">
      <div class="card__content">
        <div class="card__information">
          <h3 class="card__heading">
            <a role="link" aria-disabled="true" class="full-unstyled-link">
              {{ 'onboarding.product_title' | t }}
            </a>
          </h3>
        </div>
      </div>
    </div>
    <div class="card__content">
      <div class="card__information">
        <h3 class="card__heading{% if settings.card_style == 'standard' %} h5{% endif %}">
          <a role="link" aria-disabled="true" class="full-unstyled-link">
            {{ 'onboarding.product_title' | t }}
          </a>
        </h3>
        <div class="card-information">
          {%- if show_vendor -%}
            <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
            <div class="caption-with-letter-spacing light">{{ 'products.product.vendor' | t }}</div>
          {%- endif -%}
          {% render 'price' %}
        </div>
      </div>
    </div>
  </div>
</div>
{%- endif -%}


