{% comment %}
    Renders a product card

    Accepts:
    - card_product: {Object} Product Liquid object (optional)
    - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
    - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
    - show_vendor: {Boolean} Show the product vendor. Default: false
    - show_rating: {Boolean} Show the product rating. Default: false
    - extend_height: {Boolean} Card height extends to available container space. Default: true (optional)
    - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)

    Usage:
    {% render 'card-product', show_vendor: section.settings.show_vendor %}
{% endcomment %}  
  {%- if card_product and card_product != empty -%}
  <div class="card__wrapper">
    <div class="card">
    <div class="card__media">
          {% if card_product.featured_media %}
              <img src="{{ card_product.featured_media }}" 
              class="motion-reduce"
              {% unless lazy_load == false %}loading="lazy"{% endunless %}
            >
          {%-endif %}
    </div>
      <div class="card__content">
        <div class="card__information">
            <span class="caption-with-letter-spacing light">{{ card_product.vendor }}</span>
        <h3 class="card__heading{% if card_product.featured_media or settings.card_style == 'standard' %} h5{% endif %}">
          <a href="{{ card_product.url }}" class="full-unstyled-link">
            {{ card_product.title }}
          </a>
        </h3>
        <div class="card-information">
          <span class="caption-large light">{{ block.settings.description | escape }}</span>
          {% render 'price', product: card_product, price_class: '' %}
          <div class="card__origin">
            {% render 'country', product: card_product %}
            {% render 'grape-sort', product: card_product %}
          </div>
        </div>
        {% render 'buy-button', product: card_product %}
        </div>
      </div>
    </div>
  </div>
  {%- else -%}
  <a href="{{ card_product.url }}">
    <div class="card-wrapper underline-links-hover">
      <div class="card
        card--{{ settings.card_style }}
        card--text
        {% if extend_height %} card--extend-height{% endif %}
        {% if settings.card_style == 'card' %} color-{{ settings.card_color_scheme }}{% endif %}
        {% if card_product.featured_media == nil and settings.card_style == 'card' %} ratio{% endif %}"
        style="--ratio-percent: 100%;"
      >
        <div class="card__inner {% if settings.card_style == 'standard' %}color-{{ settings.card_color_scheme }}{% endif %}{% if settings.card_style == 'standard' %} ratio{% endif %}" style="--ratio-percent: 100%;">
          <div class="card__content">
            <div class="card__information">
              <h3 class="card__heading">
                <a role="link" aria-disabled="true" class="full-unstyled-link">
                  {{ 'onboarding.product_title' | t }}
                </a>
              </h3>
            </div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__information">
            <h3 class="card__heading{% if settings.card_style == 'standard' %} h5{% endif %}">
              <a role="link" aria-disabled="true" class="full-unstyled-link">
                {{ 'onboarding.product_title' | t }}
                ost
              </a>
            </h3>
            <div class="card-information">
              {%- if show_vendor -%}
                <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
                <div class="caption-with-letter-spacing light">{{ 'products.product.vendor' | t }}</div>
              {%- endif -%}
              {% render 'price' %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
{%- endif -%}


