{{ 'component-categories-section.css' | asset_url | stylesheet_tag }}
<section class="categories-section {{ template.name }}" style="margin-top: {{ section.settings.categories_section_padding_top }}px; margin-bottom: {{ section.settings.categories_section_padding_bottom }}px;">
  {% for category in section.blocks %}
    <div class="cat-{{ forloop.index}}">
      {%- if category.settings.category_image != blank -%}
      <img
        srcset="{%- if category.settings.category_image.width >= 165 -%}{{ category.settings.category_image | image_url: width: 165 }} 165w,{%- endif -%}
          {%- if category.settings.category_image.width >= 360 -%}{{ category.settings.category_image | image_url: width: 360 }} 360w,{%- endif -%}
          {%- if category.settings.category_image.width >= 535 -%}{{ category.settings.category_image | image_url: width: 535 }} 535w,{%- endif -%}
          {%- if category.settings.category_image.width >= 750 -%}{{ category.settings.category_image | image_url: width: 750 }} 750w,{%- endif -%}
          {%- if category.settings.image.width >= 1070 -%}{{ category.settings.category_image | image_url: width: 1070 }} 1070w,{%- endif -%}
          {%- if category.settings.category_image.width >= 1500 -%}{{ category.settings.category_image | image_url: width: 1500 }} 1500w,{%- endif -%}
          {{ category.settings.category_image | image_url }} {{ category.settings.category_image.width }}w"
        src="{{ category.settings.category_image | image_url: width: 1500 }}"
        sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
        alt="{{ category.settings.category_image.alt | escape }}"
        loading="lazy"
        width="{{ category.settings.category_image.width }}"
        height="{{ category.settings.category_image.height }}"
      >
      {%- else -%}
      <img src="{{ 'placeholder-category.jpg' | asset_img_url: '500x' }}" />
      {%- endif -%}
      <div>

        <a role="link" href="{{ category.settings.button_link }}" class="animate-arrow" {{ block.shopify_attributes }}>
          <h3>
            {{ category.settings.button_label }}
            <span class="icon-wrap"><svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor"></path></svg></span>
          </h3>
         
        </a>
      </div>
    </div>
  {% endfor %}
</section>

{% schema %}
{
  "name": "Kategorisektion",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "category_image",
      "label": "t:sections.image-with-text.settings.image.label"
    },
    {
      "type": "header",
      "content": "Sektionsmargin i top og bund"
    },
    {
      "type": "range",
      "id": "categories_section_padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "categories_section_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Kategori",
      "limit": 4,
      "settings": [
        {
          "type": "text",
          "id": "category_title",
          "default": "Kategorititel",
          "label": "Kategorititel"
        },
        {
          "type": "image_picker",
          "id": "category_image",
          "label": "Kategoribillede"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Heading",
          "default": "Tekst til kategorilink"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Kategorilink"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Kategorisektion",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "heading"
        },
        {
          "type": "heading"
        },
        {
          "type": "heading"
        }
      ]
    }
  ]
}
{% endschema %}
