{{ 'component-main-hero.css' | asset_url | stylesheet_tag }}
<section class="{{ template.name }}">
  {%- if section.settings.cta_image != blank -%}
  <img
    srcset="{%- if section.settings.cta_image.width >= 165 -%}{{ section.settings.cta_image | image_url: width: 165 }} 165w,{%- endif -%}
      {%- if section.settings.cta_image.width >= 360 -%}{{ section.settings.cta_image | image_url: width: 360 }} 360w,{%- endif -%}
      {%- if section.settings.cta_image.width >= 535 -%}{{ section.settings.cta_image | image_url: width: 535 }} 535w,{%- endif -%}
      {%- if section.settings.cta_image.width >= 750 -%}{{ section.settings.cta_image | image_url: width: 750 }} 750w,{%- endif -%}
      {%- if section.settings.image.width >= 1070 -%}{{ section.settings.cta_image | image_url: width: 1070 }} 1070w,{%- endif -%}
      {%- if section.settings.cta_image.width >= 1500 -%}{{ section.settings.cta_image | image_url: width: 1500 }} 1500w,{%- endif -%}
      {{ section.settings.cta_image | image_url }} {{ section.settings.cta_image.width }}w"
    src="{{ section.settings.cta_image | image_url: width: 1500 }}"
    sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
    alt="{{ section.settings.cta_image.alt | escape }}"
    loading="lazy"
    width="{{ section.settings.cta_image.width }}"
    height="{{ section.settings.cta_image.height }}"
  >
  {%- else -%}
  <img src="{{ 'placeholder.jpg' | asset_img_url: '900x' }}" />
  {%- endif -%}
  <div class="page-{{ template.name }}">
    {%- for block in section.blocks -%}
    {% case block.type %}
      {%- when 'cta_heading' -%}
        <h1 class="image-with-text__heading {{ block.settings.heading_size }}" {{ block.shopify_attributes }}>
          {{ block.settings.cta_heading | escape }}
        </h1>
      {%- when 'cta_caption' -%}
        <p class="">{{ block.settings.cta_caption | escape }}</p>
      {%- when 'cta_text' -%}
      <div>{{ block.settings.cta_text }}</div>
      {%- when 'button' -%}
      {% if template.name == 'index' %}
        {%- if block.settings.cta_button_label != blank -%}
          <a{% if block.settings.cta_button_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.cta_button_link }}"{% endif %} class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}" {{ block.shopify_attributes }}>
            {{ block.settings.cta_button_label | escape }}
          </a>
        {%- endif -%}
      {% endif %}
      {%- endcase -%}
  {%- endfor -%}
  </div>
</section>

{% schema %}
{
  "name": "CTA sektion",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "cta_image",
      "label": "t:sections.image-with-text.settings.image.label"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-with-text.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "cta_heading",
          "default": "Image with text",
          "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "cta_heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "caption",
      "name": "t:sections.image-with-text.blocks.caption.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "cta_caption",
          "default": "Add a tagline",
          "label": "t:sections.image-with-text.blocks.caption.settings.text.label"
        },
        {
          "type": "select",
          "id": "cta_text_style",
          "options": [
            {
              "value": "subtitle",
              "label": "t:sections.image-with-text.blocks.caption.settings.text_style.options__1.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.image-with-text.blocks.caption.settings.text_style.options__2.label"
            }
          ],
          "default": "caption-with-letter-spacing",
          "label": "t:sections.image-with-text.blocks.caption.settings.text_style.label"
        },
        {
          "type": "select",
          "id": "cta_text_size",
          "options": [
            {
              "value": "small",
              "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__3.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-with-text.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "cta_text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "t:sections.image-with-text.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "cta_text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.image-with-text.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.image-with-text.blocks.text.settings.text_style.options__2.label"
            }
          ],
          "default": "body",
          "label": "t:sections.image-with-text.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.image-with-text.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "cta_button_label",
          "label": "Knap",
          "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "cta_button_link",
          "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "CTA sektion",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
