{{ 'component-product-card.css' | asset_url | stylesheet_tag }}

{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-featured-swiper.css' | asset_url | stylesheet_tag }}



<script src="{{ 'swiper.js' | asset_url }}" defer="defer"></script>
<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>


<section id="{{ section.id }}" class="page-width featured-products" style="margin-top: {{ section.settings.featured_margin_top }}px; margin-bottom: {{ section.settings.featufeatured_margin_bottom }}px;">
  {%- unless section.settings.title == blank -%}
  <h2 class="title {{ section.settings.heading_size }} text-{{ section.settings.heading_alignment }}">{{ section.settings.title | escape }}</h2>

  {%- if section.settings.show_view_all and section.settings.swipe_on_mobile and more_in_collection -%}
    <a href="{{ section.settings.collection.url }}" class="link underlined-link large-up-hide">{{ 'sections.featured_collection.view_all' | t }}</a>
  {%- endif -%}
{%- endunless -%}
  <div class="swiper featured-swiper">
    <div class="swiper-wrapper">
        {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
          <div class="swiper-slide grid-item">
            {% render 'card-product',
              card_product: product,
              media_aspect_ratio: section.settings.image_ratio,
              show_secondary_image: section.settings.show_secondary_image,
              show_vendor: section.settings.show_vendor,
              show_rating: section.settings.show_rating,
              lazy_load: lazy_load
            %}
          </div>
        {%- endfor -%}
    </div>
    <div class="swiper-button-next">
      <svg xmlns="http://www.w3.org/2000/svg" width="15" height="27" fill="none" viewBox="0 0 15 27">
        <path fill="#6B705C" d="m.316 1.942 11.267 11.557L.316 25.057a1.105 1.105 0 0 0 0 1.545 1.053 1.053 0 0 0 1.503 0l11.988-12.295a1.156 1.156 0 0 0 0-1.614L1.821.397a1.052 1.052 0 0 0-1.507 0 1.105 1.105 0 0 0 0 1.545h.002Z"/>
      </svg>
    </div>
    <div class="swiper-button-prev">
      <svg xmlns="http://www.w3.org/2000/svg" width="15" height="27" fill="none" viewBox="0 0 15 27">
        <path fill="#6B705C" d="m.316 1.942 11.267 11.557L.316 25.057a1.105 1.105 0 0 0 0 1.545 1.053 1.053 0 0 0 1.503 0l11.988-12.295a1.156 1.156 0 0 0 0-1.614L1.821.397a1.052 1.052 0 0 0-1.507 0 1.105 1.105 0 0 0 0 1.545h.002Z"/>
      </svg>    
    </div>
  </div>
  {%- if section.settings.button_label != blank -%}
    <a class="button button--primary" {% if section.settings.button_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ section.settings.button_link }}"{% endif %}>
      {{ section.settings.button_label | escape }}
    </a>
{%- endif -%}
</section>




{% schema %}
{
  "name":"t:sections.featured-collection.name",
  "tag":"section",
  "class":"section",
  "settings":[
     {
        "type":"text",
        "id":"title",
        "default":"Featured collection",
        "label":"t:sections.featured-collection.settings.title.label"
     },
     {
        "type":"select",
        "id":"heading_size",
        "options":[
           {
              "value":"h2",
              "label":"t:sections.all.heading_size.options__1.label"
           },
           {
              "value":"h1",
              "label":"t:sections.all.heading_size.options__2.label"
           },
           {
              "value":"h0",
              "label":"t:sections.all.heading_size.options__3.label"
           }
        ],
        "default":"h1",
        "label":"t:sections.all.heading_size.label"
     },
     {
        "type":"select",
        "id":"heading_alignment",
        "options":[
           {
              "value":"left",
              "label":"Venstrestillet"
           },
           {
              "value":"center",
              "label":"Centreret"
           },
           {
              "value":"right",
              "label":"Højrestillet"
           }
        ],
        "default":"center",
        "label":"Teskstjustering"
     },
     {
        "type":"text",
        "id":"button_label",
        "default":"Button label",
        "label":"Tekst til link"
     },
     {
        "type":"url",
        "id":"button_link",
        "label":"URL til link"
     },
     {
        "type":"collection",
        "id":"collection",
        "label":"t:sections.featured-collection.settings.collection.label"
     },
     {
        "type":"range",
        "id":"products_to_show",
        "min":2,
        "max":12,
        "step":1,
        "default":4,
        "label":"t:sections.featured-collection.settings.products_to_show.label"
     },
     {
        "type":"header",
        "content":"t:sections.featured-collection.settings.header.content"
     },
     {
        "type":"checkbox",
        "id":"show_secondary_image",
        "default":false,
        "label":"t:sections.featured-collection.settings.show_secondary_image.label"
     },
     {
        "type":"checkbox",
        "id":"show_vendor",
        "default":false,
        "label":"t:sections.featured-collection.settings.show_vendor.label"
     },
     {
        "type":"checkbox",
        "id":"show_rating",
        "default":false,
        "label":"t:sections.featured-collection.settings.show_rating.label",
        "info":"t:sections.featured-collection.settings.show_rating.info"
     },
     {
      "type": "header",
      "content": "Sektionsmargin i top og bund"
    },
    {
      "type": "range",
      "id": "featured_margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "featured_margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets":[
     {
        "name":"t:sections.featured-collection.presets.name"
     }
  ]
}
{% endschema %}