{{ 'section-guide.css' | asset_url | stylesheet_tag }}

<div id="app">
    <template v-if="allProducts">
        <div>
            <input v-model="searchQuery" type="text" placeholder="Portvin">
            <label v-for="(tag, index) in tags" :key="index">
                <input type="radio" :value="tag" v-model="selectedTaste">
                    <span v-text="tag"></span>
                </input>
            </label>
            <label v-for="(question, index) in questions" :key="index">
                <input type="radio" :value="question">
                    <span v-text="question"></span>
                </input>
            </label>
            <ul class="grid product-grid">
                <li class="grid__item" v-for="resultProduct in resultQuery" :key="resultProduct.id">
                   <h4 v-html="resultProduct.title"></h4>
                   <img :src="resultProduct.featured_image" alt="" />
                   <a :href="resultProduct.url">Køb</a>
                </li>
            </ul>
            <hr>
        </div>
    </template>
</div>
<script src="https://unpkg.com/vue@3"></script>

<script>
    const options = {
        name: "CollectionsApp",
        data() {
            return {
                allProducts: null,
                fetch_url: window.location.href + "/collections/all?view=json",
                tags: [],
                type: "",
                selectedTaste: null,
                searchQuery: null,
                questions:[{% for block in section.blocks %}{% case block.type %}{% when 'question' %}
                        {
                            question: "{{ block.settings.question_title }}",
                            answer: {{ forloop.index0 }},
                            options: [
                                {{ block.settings.answers }}
                            ], 
                            selected: null,
                            questionNumber: {{ forloop.index0 }}
                        }{% endcase %}{% unless forloop.last %},{% endunless %}{% endfor %}
                ],
                quizCompleted: false,
                currentQuestion: 0,
            }
        },
        methods: {
            async getProducts() {
                await fetch(this.fetch_url, {
                    mode: 'no-cors'
                })
                .then(res => res.json())
                .then(data => {
                    this.allProducts = data.products
                    this.tags = data.tags
                })
            },
            filteredArr(type) {
                const filteredType = this.allProducts.filter(products => products.type === type)
                this.newFilteredProducts = filteredType;
                return filteredType
            },
            setAnswer(event) {
                this.questions[this.currentQuestion].selected = event.target.value
                event.target.value = null
            },
            nextQuestion() {
                if(this.currentQuestion < this.questions.length - 1) {
                    this.currentQuestion++
                } else {
                    this.quizCompleted = true
                }
            }
        },
        created() {
            this.getProducts();
        },
        computed: {
            getCurrentQuestion() {
                let question = this.questions[this.currentQuestion]
                question.index = currentQuestion
                return question
            },
            finalQuery() {
                console.log('hej')
            },
            resultQuery() {
                if (this.searchQuery) {
                    return this.filteredArr(this.searchQuery)
                } else {
                  return null
                }
            },
        }
    }
    const CollectionsApp = Vue.createApp(options).mount('#app');
</script>




{% comment %}
fetch_url: window.location.href + "/collections/all?view=json",
fetch_url: "https://www.etvinimport.dk/collections/all?view=json",

{% for block in section.blocks %}  
    {% case block.type %}
    {% when 'question' %}  
        <div class="link" {{ block.shopify_attributes }}>   
            {{ block.settings.question_title }}
        </div> 
    {% endcase %} 
{% endfor %}


 [{% for block in section.blocks %}{% case block.type %}{% when 'question' %}
    {
        "{{ block.settings.question_title }}"
    }{% endcase %}{% unless forloop.last %},{% endunless %}{% endfor %}
    ]
{% endcomment %}

{% schema %}
{
    "name":"Guide",
    "tag":"section",
    "blocks":[
       {
          "type":"question",
          "name":"spørgsmål",
          "settings":[
             {
                "type":"header",
                "content":"Spørgsmål"
             },
             {
                "type":"text",
                "id":"question_title",
                "default":"Skriv spørgsmålet",
                "label":"Spørgsmål"
             },
             {
                "type":"paragraph",
                "content":"Skriv svarene på spørgsmålet nedenfor. Svar skal skrives for stort forbogstav og i anførselsteng ('') efterfulgt af et komma. Eks: 'Hvid', 'Mousserende', 'Portvin'"
             },
             {
                "type":"textarea",
                "id":"answers",
                "default":"'Hvid', 'Mousserende', 'Portvin'",
                "label":"Svar"
             }
          ]
       }
    ],
    "presets":[
       {
          "name":"Spørgsmål",
          "blocks":[
             {
                "type":"question"
             },
             {
                "type":"question"
             },
             {
                "type":"question"
             }
          ]
       }
    ]
 }
{% endschema %}